@model IEnumerable<FinalProject.Models.Tag>

@{
    var types = Model.Select(x => x.Type).Distinct().ToList();

    ViewData["Title"] = "Tags";
}

<h3>Manage Tags</h3>
<p>
    <a id="salmon-btn-sm" asp-action="Create">Create New</a>
</p>
<hr />

<h5><strong>Tags</strong></h5>

<div id="accordion" class="row">
    <div class="card col-md-2">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-default" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Color
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @foreach (var tag in Model.OrderByDescending(x => x.Name).Reverse())
                {
                    @if (tag.Type.ToLower() == "color")
                    {
                        <p>@Html.DisplayFor(modelItem => tag)  <a id="remove-btn" asp-action="Delete" asp-route-id="@tag.Id">x</a></p>

                    }

                }
            </div>
        </div>
    </div>
    <div class="card col-md-2">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-default collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Price
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                @foreach (var tag in Model)
                {
                    @if (tag.Type.ToLower() == "price")
                    {
                        <p>@Html.DisplayFor(modelItem => tag)  <a id="remove-btn" asp-action="Delete" asp-route-id="@tag.Id">x</a></p>

                    }

                }
            </div>
        </div>
    </div>
    <div class="card col-md-2">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-default collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Season
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                @foreach (var tag in Model)
                {
                    @if (tag.Type.ToLower() == "season")
                    {
                        <p>@Html.DisplayFor(modelItem => tag)  <a id="remove-btn" asp-action="Delete" asp-route-id="@tag.Id">x</a></p>

                    }

                }
            </div>
        </div>
    </div>

    <div class="card col-md-2">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-default btn-default" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Keyword
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                @foreach (var tag in Model)
                {
                    @if (tag.Type.ToLower() == "keyword")
                    {
                        <p>@Html.DisplayFor(modelItem => tag)  <a id="remove-btn" asp-action="Delete" asp-route-id="@tag.Id">x</a></p>

                    }

                }
            </div>
        </div>
    </div>

    <div class="card col-md-2">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-default collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Other
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                @foreach (var type in types)
                {
                    @if (!(type.ToLower() == "keyword" || type.ToLower() == "season" || type.ToLower() == "color" || type.ToLower() == "price"))
                    {
                        @foreach (var tag in Model)
                        {
                            @if (tag.Type == type)
                            {
                                <p>@Html.DisplayFor(modelItem => tag)  <a id="remove-btn" asp-action="Delete" asp-route-id="@tag.Id">x</a></p>

                            }

                        }

                    }

                }
            </div>
        </div>
    </div>

    @*@foreach (var type in types)
        {
            @if (!(type.ToLower() == "color" || type.ToLower() == "keyword" || type.ToLower() == "season" || type.ToLower() == "price"))
            {
                <div class="card col-md-2">
                    <div class="card-header" id="heading-@type.Replace(" ", "")">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse-@type.Replace(" ", "")" aria-expanded="false" aria-controls="collapse-@type.Replace(" ", "")">
                                @type
                            </button>
                        </h5>
                    </div>
                    <div id="collapse-@type.Replace(" ", "")" class="collapse" aria-labelledby="heading-@type.Replace(" ", "")" data-parent="#accordion">
                        <div class="card-body">

                            @foreach (var tag in Model)
                            {
                                @if (tag.Type == type)
                                {
                                    <p>@Html.DisplayFor(modelItem => tag)  <a id="remove-btn" asp-action="Delete" asp-route-id="@tag.Id">x</a></p>

                                }

                            }

                        </div>
                    </div>

                </div>
            }
        }*@
</div>
