@model IEnumerable<FinalProject.Models.Proposal>

@{
    ViewData["Title"] = "Proposals";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Proposals</h4>
    <hr />
    <p>
        <a asp-action="Create">Create New Proposal</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                @if (item.IsShared == false)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="Preview" asp-route-id="@item.Id">Preview</a> |
                        <a asp-action="Share" asp-route-id="@item.Id">Share</a>
                    </td>
                }
                else if (item.IsShared == true)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                        <a asp-action="Preview" asp-route-id="@item.Id">Preview</a> |
                        <a asp-action="Share" asp-route-id="@item.Id">Unshare</a>
                    </td>
                }
            </tr>
            }
        </tbody>
    </table>
</body>
</html>
