@model IEnumerable<FinalProject.Models.Proposal>

@{
    ViewData["Title"] = "Proposals";
}

<h3>My Proposals</h3>
<p>
    <a id="salmon-btn-sm" asp-action="Create">Create New</a>
</p>
<hr />
<div id="img-lib-container">
    @foreach (var item in Model)
    {
        <div id="img-add">
            <div id="proposal-sq">
                @* maybe add the first image from the propsal as the background *@
                <h3>
                    @item.Title
                </h3>
                <br />
                @Html.DisplayFor(modelItem => item)


            </div>
            <div id="proposal-act">
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Preview" asp-route-id="@item.Id">View</a> |
                <a asp-action="Share" asp-route-id="@item.Id">Email Client</a>
            </div>
        </div>
    }
</div>
