@model FinalProject.Models.Proposal

@{
    int i = 0;
    Layout = null;
}

<p>
    Hello @Model.Customer.Name!
</p>
<p>
    Thanks for your patience while I crafted a custom proposal for your special event. I'm looking forward to your feedback! 
</p>
<p>
    Thanks,
    <br />
    @Model.Designer.Name
</p>

<div style="padding: 20px;max-width: 780px;height: 100%;border: 2px solid #8C8C8C;border-radius: 25px;background-color: transparent;box-shadow: 0 0 .01em #8C8C8C;">
<table>
    <thead>
        <tr>

            <th style="font-family:Arial, Helvetica, sans-serif;text-align:center; padding:20px;height:auto;max-width: 780px;border-bottom: 2px solid #8C8C8C;">
                <h1 class="display-4 text-center">@Model.Title</h1>
                <p class="lead text-center">@Model.Description</p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table>
                    @while (i < Model.ProposalItems.Count && i % 3 == 0)
                    {
                        <tr>
                            @while (i < Model.ProposalItems.Count)
                            {
                                <td valign="top">
                                    <img style="width: 250px;height: 250px;object-fit: cover;" src="https://floralist.azurewebsites.net/Images/Raw/@Model.ProposalItems[i].Image.Id" alt="@Model.ProposalItems[i].Caption" />
                                    @*<img id="img-card" src="~/Images/Raw/@Model.ProposalItems[i].Image.Id" alt="@Model.ProposalItems[i].Caption" />*@
                                    <p style="width: 250px;height:100%;">@Model.ProposalItems[i].Caption</p>
                                </td>

                                i++;

                                if (i % 3 == 0)
                                {
                                    break;
                                }
                            }
                        </tr>
                    }
                </table>
            </td>
        </tr>
    </tbody>
</table>
</div>

