@model FinalProject.Models.Proposal

@{
    int i = 0;
    Layout = null;
}

<p>
    Hello @Model.Customer.Name!
</p>
<p>
    Thanks for your patience while I crafted this custom proposal for your special event. I'm looking forward to your feedback! 
</p>
<p>
    Thanks,
    <br />
    @Model.Designer.Name
</p>

<table>
    <thead>
        <tr>

            <th style="background-color:lightgrey;font-family:Arial, Helvetica, sans-serif;text-align:center; border-radius:10px; height:200px; width:760px;">
                <h1 class="display-4 text-center">@Model.Title</h1>
                <p class="lead text-center">@Model.Description</p>
            </th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <table>
                    @foreach (var item in Model.ProposalItems)
                    {
                        @while(i < Model.ProposalItems.Count && i % 3==0)
                        {
                            <tr>
                                @while (i < Model.ProposalItems.Count)
                                {
                                    <td>
                                        <img style="width: 250px;height: 250px;object-fit: cover;" src="https://floralist.azurewebsites.net/Images/Raw/@item.Image.Id" alt="@item.Caption" />
                                        <p style="width: 250px;height:100%;">@item.Caption</p>
                                    </td>

                                    i++;

                                    if(i%3==0)
                                    {
                                        break;
                                    }
                                }
                            </tr>
                        }
                    }
                </table>
            </td>
        </tr>
    </tbody>
</table>

