@model FinalProject.Models.Proposal
@*@inject FinalProject.Services.IRepository repository*@

@{
    int i = 0;
    ViewData["Title"] = "Proposals";
}

<h3>@Model.Customer.Name's Proposal</h3>
<hr />

<div class="container">
    @if (Model.IsShared)
    {
        <h4>This proposal has been sent to @Model.Customer.Email previously. Would you like to email again?</h4>
    }
    else
    {
        <h4>Are you sure you want to email this proposal to @Model.Customer.Email?</h4>
    }
    <form asp-action="Share">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@(Model.IsShared? "Send Again" : "Send Email")" id="salmon-btn-sm" />
    </form>
    <hr />


    <table style="border: 1.25px solid #8C8C8C;">
        <thead style="border-bottom: 1.25px solid #8C8C8C;">
            <tr>
                <th id="proposal-header">
                    <h1 class="display-4 text-center">@Model.Title</h1>
                    <p class="lead text-center">@Model.Description</p>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <table>
                        @while (i < Model.ProposalItems.Count && i % 3 == 0)
                        {
                            <tr>
                                @while (i < Model.ProposalItems.Count)
                                {
                                    <td valign="top">
                                        @*<img id="img-card" src="https://floralist.azurewebsites.net/Images/Raw/@Model.ProposalItems[i].Id" alt="@Model.ProposalItems[i].Caption" />*@
                                        <img id="img-card" src="~/Images/Raw/@Model.ProposalItems[i].Image.Id" alt="@Model.ProposalItems[i].Caption" />
                                        <p style="margin:0 0 0 5px; width: 250px;height:100%;">@Model.ProposalItems[i].Caption</p>
                                    </td>

                                    i++;

                                    if (i % 3 == 0)
                                    {
                                        break;
                                    }

                                }
                            </tr>
                        }
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <hr />
    <a class="btn btn-link" asp-action="Index">Back to List</a>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
