@model FinalProject.ViewModels.DesignerHome

@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="3000">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img id="img-carousel" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Welcome to Floralist!
                </p>
            </div>
        </div>
        @foreach (var item in Model.Images)
        {
        <div class="item">
            <img src="/Images/Raw/@item.Id" class="img-responsive" id="img-carousel" />
        </div>
        }
    </div>
</div>
 
<h1>Welcome back @Model.Designer.Name! Let's get to work:</h1>
<hr />

<div class="row">
    <div class="col-md-6" id="dash-card">
        <h2 id="text-dash">@(Model.ProposalsInProgress.Count() == 1 ? "Proposal" : "Proposals") In Progress [@Model.ProposalsInProgress.Count()] </h2>
        <a class="btn btn-default" asp-action="Index" asp-controller="Proposals">
            Complete Proposals
        </a>
    </div>
    <div class="col-md-6" id="dash-card">
        <h2 id="text-dash">@Model.Images.Count() @(Model.Images.Count()==1? "Image" : "Images") in Image Library</h2>
        <a class="btn btn-default" asp-action="Index" asp-controller="Images" >
            Manage Images
        </a>
    </div>
    @*<div class="col-md-4" id="dash-card">
        <h2 id="text-dash">@Model.Customers.Count() @(Model.Customers.Count() == 1 ? "Customer" : "Customers") in Customer Directory</h2>
        <a class="btn btn-default" asp-action="Index" asp-controller="Customers">
            Manage Customers
        </a>
    </div>*@
</div>
 