@model FinalProject.ViewModels.TagSearch

@{

    ViewData["Title"] = "AddTags";
}

<div id="flex-container-col">
    <h3>Add Tags</h3>
    <a id=salmon-btn-sm asp-action="Index">Done</a>
</div>
<hr />

<div id="flex-container-col">
    <div id="flex-container">
        <div id="img-container">
            <img src="/Images/Raw/@Model.ImageId" id="img-sq" />
        </div>
        <div id="tag-container">
            @foreach (var tag in Model.ImageTags)
            {
                <p>@Html.DisplayFor(modelItem => tag.Tag)  <a id="remove-btn" asp-action="RemoveTagFromAddTags" asp-route-imageId="@Model.ImageId" asp-route-tagId="@tag.TagId">x</a></p>
            }
        </div>
    </div>
</div>

<div id="accordion" class="row">
    <div class="card col-md-2">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-default" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Color
                </button>
            </h5>
        </div>


        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                @foreach (var tag in Model.Tags.OrderByDescending(x => x.Name).Reverse())
                {
                    @if (tag.Type.ToLower() == "color")
                    {
                        <form asp-controller="Images" asp-action="AddTags" asp-route-imageId="@Model.ImageId" asp-route-tagId="@tag.Id">
                            <div class="form-group">
                                <input type="hidden" asp-for="@Model.ImageId" />
                                <button id="add-btn" type="submit" formmethod="post">
                                    @Html.DisplayFor(modelItem => tag)
                                </button>
                                <input type="submit" formmethod="post" value="+" id="add-btn" >
                            </div>
                        </form>
                    }

                }
            </div>
        </div>
    </div>
    <div class="card col-md-2">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-default collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Price
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                @foreach (var tag in Model.Tags.OrderByDescending(x => x.Name).Reverse())
                {
                    @if (tag.Type.ToLower() == "price")
                    {
                        <form asp-controller="Images" asp-action="AddTags" asp-route-imageId="@Model.ImageId" asp-route-tagId="@tag.Id">
                            <div class="form-group">
                                <input type="hidden" asp-for="@Model.ImageId" />
                                <button id="add-btn" type="submit" formmethod="post">
                                    @Html.DisplayFor(modelItem => tag)
                                </button>
                                <input type="submit" formmethod="post" value="+" id="add-btn">
                            </div>
                        </form>
                    }

                }
            </div>
        </div>
    </div>
    <div class="card col-md-2">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-default collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Season
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                @foreach (var tag in Model.Tags.OrderByDescending(x => x.Name).Reverse())
                {
                    @if (tag.Type.ToLower() == "season")
                    {
                        <form asp-controller="Images" asp-action="AddTags" asp-route-imageId="@Model.ImageId" asp-route-tagId="@tag.Id">
                            <div class="form-group">
                                <input type="hidden" asp-for="@Model.ImageId" />
                                <button id="add-btn" type="submit" formmethod="post">
                                    @Html.DisplayFor(modelItem => tag)
                                </button>
                                <input type="submit" formmethod="post" value="+" id="add-btn">
                            </div>
                        </form>
                    }

                }
            </div>
        </div>
    </div>

    <div class="card col-md-2">
        <div class="card-header" id="headingFour">
            <h5 class="mb-0">
                <button class="btn btn-default collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Keyword
                </button>
            </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
                @foreach (var tag in Model.Tags.OrderByDescending(x => x.Name).Reverse())
                {
                    @if (tag.Type.ToLower() == "keyword")
                    {
                        <form asp-controller="Images" asp-action="AddTags" asp-route-imageId="@Model.ImageId" asp-route-tagId="@tag.Id">
                            <div class="form-group">
                                <input type="hidden" asp-for="@Model.ImageId" />
                                <button id="add-btn" type="submit" formmethod="post">
                                    @Html.DisplayFor(modelItem => tag)
                                </button>
                                <input type="submit" formmethod="post" value="+" id="add-btn">
                            </div>
                        </form>
                    }

                }
            </div>
        </div>
    </div>

    <div class="card col-md-2">
        <div class="card-header" id="headingFive">
            <h5 class="mb-0">
                <button class="btn btn-default collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Other
                </button>
            </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
            <div class="card-body">
                @foreach (var tag in Model.Tags)
                {
                    @if (!(tag.Type.ToLower() == "keyword" || tag.Type.ToLower() == "season" || tag.Type.ToLower() == "color" || tag.Type.ToLower() == "price"))
                    {
                        <form asp-controller="Images" asp-action="AddTags" asp-route-imageId="@Model.ImageId" asp-route-tagId="@tag.Id">
                            <div class="form-group">
                                <input type="hidden" asp-for="@Model.ImageId" />
                                <button id="add-btn" type="submit" formmethod="post">
                                    @Html.DisplayFor(modelItem => tag)
                                </button>
                                <input type="submit" formmethod="post" value="+" id="add-btn">
                            </div>
                        </form>
                    }

                }
            </div>
        </div>
    </div>

    <div class="card col-md-2">
        <div class="card-header">
            <h5 class="mb-0">
                <button class="btn btn-default">
                    @Html.ActionLink("Add New Tag", "AddNewTag", "Images", new { imageId = Model.ImageId })
                </button>
            </h5>
        </div>
    </div>
</div>



    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

