@model IEnumerable<FinalProject.Models.Image>

@{

    ViewData["Title"] = "Index";

}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h2>Index</h2>

    <p>
        <a asp-action="Create">Upload New Image</a> 
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Tags
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="/Images/Raw/@item.Id" id="img-sq" />
                    </td>
                    <td>
                        @* Placeholder for tags *@
                        @foreach (var tag in item.ImageTags)
                        {

                            <p>@tag.Tag.Type : @tag.Tag.Name</p>
                            <a asp-action="RemoveTag" asp-route-imageId="@item.Id" asp-route-tagId="@tag.Tag.Id">Remove</a> 
                            //need to create the remove tag
                        }
                    </td>
                    <td>
                        <a asp-action="AddTags" asp-route-imageId="@item.Id">Add Tags</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete Image</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>


