@model IEnumerable<FinalProject.Models.Image>

@{

    ViewData["Title"] = "Index";

}


<h3>Image Library</h3>

<p>
    <a id="salmon-btn-sm" asp-action="Create">Upload New</a>
</p>
<hr />


<div id="img-lib-container">
    @foreach (var item in Model)
    {
    <div id="flex-container-col">
        <div id="flex-container">
            <div id="img-container">
                <img src="/Images/Raw/@item.Id" id="img-sq" />
                <p>
                    <a asp-action="AddTags" asp-route-imageId="@item.Id">Add Tags</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete Image</a>
                </p>
            </div>
            <div id="tag-container">
                @foreach (var tag in item.ImageTags)
                {
                <p><a id="remove-btn" asp-action="RemoveTag" asp-route-imageId="@item.Id" asp-route-tagId="@tag.Tag.Id">x</a>@Html.DisplayFor(modelItem => tag.Tag) </p>
                }
            </div>
        </div>

    </div>
    }
</div>
